<main class="TodoPageMain">
  <article>
    <h1 class="TodoPage-title">My Todo-list</h1>
    <section class="AddTodo">
      <input class="AddTodo-text" type="text" placeholder="What's next" />
      <input class="AddTodo-date" type="date" />
      <input class="AddTodo-btn" type="button" value="Add" />
    </section>
    <%todos = Todo.overdue%>
    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue_and_incomplete,
      todos_completed: todos.completed.count,
      total_todos: todos.count,
      show_due_date: true
    }%>
    <%todos = Todo.due_today%>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: todos,
      todos_completed: todos.completed.count,
      total_todos: todos.count,
      show_due_date: false
    }%>
    <%todos = Todo.due_later%>
    <%= render partial: "todo-section", locals: {
      section_title: "Due Later",
      todos: todos,
      todos_completed: todos.completed.count,
      total_todos: todos.count,
      show_due_date: true
    }%>

  </article>
</main>
